{% extends 'base.html' %} {% block content %}
<div class="d-flex flex-column gap-2">
    <h2>{{ post.title }}</h2>
    <div>
        Автор: {{ post.author }}. Опубликовано {{ post.date.strftime('%d.%m.%Y')
        }}.
    </div>
    <div class="text-center">
        <img
            class="img-fluid rounded mx-auto d-block w-50"
            src="{{ url_for('static', filename='images/' + post.image_id) }}"
            alt="Card image cap" />
    </div>
    <div>
        <p>{{ post.text }}</p>
    </div>
    <div>
        <form class="border border-2 rounded p-2">
            <legend>Оставьте комментарий</legend>
            <div class="mb-3">
                <label for="comment_text" class="form-label">Текст</label>
                <input
                    type="text"
                    class="form-control"
                    id="comment_text"
                    aria-describedby="textHelp" />
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>

    {% if post.comments %} {% for comment in post.comments %}
    <div class="d-flex">
        <div class="flex-shrink-0">
            <img
                src="{{ url_for('static', filename='images/avatar.jpg') }}"
                class="rounded-circle img-fluid"
                alt="User Image"
                width="50" />
        </div>
        <div class="flex-grow-1 ms-3">
            <h5>{{ comment.author }}</h5>
            <p>{{ comment.text }}</p>

            {% if comment.replies %} {% for reply in comment.replies %}
            <div class="d-flex mt-4">
                <div class="flex-shrink-0">
                    <img
                        src="{{ url_for('static', filename='images/avatar.jpg') }}"
                        class="rounded-circle"
                        alt="User Image"
                        width="50" />
                </div>
                <div class="flex-grow-1 ms-3">
                    <h5>{{ reply.author }}</h5>
                    <p>{{ reply.text }}</p>
                </div>
            </div>
            {% endfor %} {% endif %}
        </div>
    </div>
    {% endfor %} {% endif %}
</div>
{% endblock %}
