{% extends 'base.html' %}
{% block content %}
<div class="d-flex flex-column align-items-center mt-5">
    <h2 class="mb-3 text-center text-uppercase font-weight-bold">Добавьте отзыв</h2>
    <form method="POST" action="{{ url_for('books.create_review', book_id=book.id) }}"
          class="p-3 border rounded col-md-6">
        <input type="hidden" name="user_id" value="{{ current_user.id }}">
        <input type="hidden" name="book_id" value="{{ book.id }}">
        <div class="mb-3 row">
            <div class="d-flex flex-column">
                <div class="mb-3">
                    <label for="rating">Оценка</label>
                    <select class="form-select" name="rating" id="rating">
                        {% for i in range(grades | length) %}
                        <option {% if review and review.rating== i or not review and i== 5
                                %}selected{% endif %}
                                value="{{ i }}">{{
                            grades[i] }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3 d-flex flex-column flex-grow-1">
                    <label for="review_text">Текст отзыва</label>
                    <textarea class="form-control flex-grow-1" name="text" id="review_text"
                              cols="30"
                              rows="5">{{ review.text or '' }}</textarea>
                </div>
            </div>
        </div>

        <div class="mb-3 text-center">
            <input type="submit" class="btn btn-dark" value="Добавить отзыв">
        </div>
    </form>
</div>
{% endblock %}