{% extends 'base.html' %} {% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="my-5">Изменение пароля</h1>
        <form action="#" method="post">
            <label for="old_password" class="form-label">Старый пароль</label>
            <input
                type="password"
                placeholder="Введите старый пароль"
                id="old_password"
                class="form-control {% if errors.old_password %}is-invalid{% endif %}"
                name="old_password" />
            {% if errors.old_password %}
            <div class="invalid-feedback">{{ errors.old_password }}</div>
            {% endif %}

            <label for="new_password" class="form-label">Новый пароль</label>
            <input
                type="password"
                placeholder="Введите новый пароль"
                id="new_password"
                class="form-control {% if errors.new_password %}is-invalid{% endif %}"
                name="new_password" />
            {% if errors.new_password %}
            <div class="invalid-feedback">{{ errors.new_password }}</div>
            {% endif %}

            <label for="new_password2" class="form-label"
                >Новый пароль еще раз</label
            >
            <input
                type="password"
                placeholder="Введите новый пароль еще раз"
                id="new_password2"
                class="form-control {% if errors.new_password2 %}is-invalid{% endif %}"
                name="new_password2" />
            {% if errors.new_password2 %}
            <div class="invalid-feedback">{{ errors.new_password2 }}</div>
            {% endif %}

            <button type="submit" class="btn btn-primary">Изменить</button>
        </form>
    </div>
</div>
{% endblock %}
